.parallax{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
    width: 100%;
}

@media screen and (max-width: 768px){
    .parallax{
        height: 20em;
    }
}

@media screen and (max-width: 500px){
    .parallax{
        height: 15em;
    }
}